# Root-level build artifacts and temporary files
build/

# General Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Confidential and environment files
.env*
!.env.example # Keep example env file if you have one
*.pem
firebase-key.json

# OS and IDE specific temporary files
.DS_Store

# AI Tooling
.claude